/* navbar */
.nav-link{
    font-weight: 600 !important;
    color: black !important;
    font-size: 1.25rem !important;
    margin-right: 0.9rem;
}

.navbar-brand{
    display: flex;
    align-items: center;
    gap: 0.15rem;
}

.fa-compass{
    font-size: 2rem !important;
    color: #fe424d;
}

.navbar-brand-name{
    font-size: 1.75rem;
    color: #fe424d;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.navbar-nav{
    margin-left: 2rem;
}

.navbar{
    height: 6rem;
}

/* footer */
.f-parent{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.25rem 4.75rem 2.25rem;
    flex-wrap: wrap;
}

.f-info>a{
    margin-right: 0.95rem;
    text-decoration: none;
    color: black;
}

.f-info>a:hover{
    text-decoration: underline;
}

.f-icons{
    display: flex;
    align-items: center;
    gap: 1.15rem;
}

/* cards */
#heading{
    font-size: 1.75rem !important;
}

.row{
    justify-content: space-between;
}

.card{
    padding: 0 !important;
    border: none !important;
    margin-bottom: 1.5rem !important;
}

.anchor{
    width: 20rem !important;
    padding : 0 !important;
}

.row > a {
    text-decoration: none;
    color: inherit;
}

.card-img-top{
    border-radius: 2.25rem !important;
    height: 18rem;
}

.listings-container{
    padding: 0 8rem;
}

@media (max-width: 690px) {
    .anchor{
        width: 100% !important;
    }
    .listings-container{
        padding: 0 2rem;
    }
}

@media (max-width : 1200px) {
    .row{
        justify-content: space-evenly;
    }
    .listings-container{
        padding: 0 2rem;
    }
}